*, *::before, *::after {
  box-sizing: border-box;
  font-family: Arial;
}

#board-wrapper {
  --cell-size: 25%;
  --cell-gap:  0%;
  --cell-radius: 2%;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 7.5vmin;
  aspect-ratio: 1 / 1; /* Sets height equal to width */
  width: 50%; /* Takes up the full width of the parent */
}

#game-board {
  display: grid;
  grid-template-columns: repeat(var(--grid-size), var(--cell-size));
  grid-template-rows: repeat(var(--grid-size), var(--cell-size));
  background-color: #CCC;
  gap: var(--cell-gap);
  border-radius: var(--cell-radius);
  padding: var(--cell-gap);
  position: relative;
  width: 100%;
  height: 100%;
}

.cell {
  background-color: #AAA;
  border-radius: var(--cell-radius);
}

.tile {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--cell-size);
  height: var(--cell-size);
  background-color: red;
  border-radius: var(--cell-radius);
  top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  font-weight: bold;
  background-color: hsl(200, 50%, var(--background-lightness));
  color: hsl(200, 25%, var(--text-lightness));
  animation: show 200ms ease-in-out;
  transition: 100ms ease-in-out;
}

@keyframes show {
  0% {
    opacity: .5;
    transform: scale(0);
  }
}